* {
	margin: 0;
	padding: 0;
		/* prevents safari from lightening the font when jquery wants to animate an element */
	-webkit-font-smoothing: subpixel-antialiased;
	}
html, body {
}

html {
	background: url(../images/Lobby.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#content-wrap {
	background-color: rgba(19, 11, 34, 0.7);
	height: 100%;
	width: 100%;
	position: fixed;
}

#content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 95%;
	margin-left: auto;
	margin-right: auto;
  
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: white;
  
	display: block;
	text-align: center;
}

#play-button {
	width: 50px;
	height: 50px;
}

#play-button:hover path {
	fill: #aaaaaa;
}

.big-header {
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;
}

.medium-header {
	
}

.small-header {
	font-weight: 300;
	font-style: italic;
	font-size: 24px;
}

.button {
	background-color: #4caf50;
	
	display: inline-block;
	height: 64px;
	width: auto;
	
	border-radius: 8px;
}

.button:hover {
	background-color: #388e3c;
}

.button-text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	
	font-weight: bold;
	font-size: 36px;
	
	padding-left: 36px;
	padding-right: 36px;
	
	text-align: center;
}

.spacer {
	margin-bottom: 36px;
}

a {
	color: white;
}

