* {
	margin: 0;
	padding: 0;
		/* prevents safari from lightening the font when jquery wants to animate an element */
	-webkit-font-smoothing: subpixel-antialiased;
	}
html, body {
	height: 1920px 1080px;
	
}

body {
	background-image: url("../images/Lobby.jpg");
	background-position: center center;
	background-size: cover;
}

#content-wrap {
	 background-color: rgba(29, 32, 41, 0.7);
	 height: 100%;
	 width: 100%;
}

#content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: white;
  
  display: block;
  text-align: center;
}

h1 {
	font-weight: bold;
	font-size: 48px;
	line-height: 36px;
	margin-bottom: 26px;
}

h2 {
	font-weight: 300;
	font-style: italic;
	font-size: 24px;
}